<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubicomp.ketdiary"
    android:versionCode="14"
    android:versionName="1.14" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
 	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
 	<uses-permission android:name="android.permission.INTERNET"/>
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
 	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>    
 	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    
    
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-sdk android:minSdkVersion="14" />
    <application
        android:name="com.ubicomp.ketdiary.App"
        android:allowBackup="true"
        android:icon="@drawable/ntu_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".main.BootBoardcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".main.NetworkChangeReceiver"
            android:singleUser="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
		
        <receiver
            android:name=".AlarmReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.android.alarmclock.ALARM_ALERT" />
        </intent-filter>
        </receiver>
        <service android:name=".AlarmService" />
        <service android:name=".UploadService" />
        <service
            android:name=".BluetoothLE.BluetoothLeService"
            android:enabled="true" >
        </service>

        <activity
            android:name=".TimerActivity"
            android:label="@string/title_activity_timer" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EventCopeSkillActivity"
            android:label="@string/title_activity_qtip" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TipsActivity"
            android:label="@string/title_activity_tips" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DevActivity"
            android:label="@string/title_activity_dev" >
        </activity>
        
        <activity
            android:name=".BluetoothLE.MainActivity2"
            android:label="@string/title_activity_dev" >
        </activity>
        <activity
            android:name=".NoteFragment"
            android:label="@string/title_activity_dev" >
        </activity>
    </application>

</manifest>
